= haml(:'partials/_header', :layout => false)

= haml(:'partials/_nav', :layout => false)

#main-container.wrapper.clearfix.b{:role => "main"}

    %center
        #main.r8.b
            #left.column.ib
                .b.h
                    = @name
                    %p info info blah blah

            #middle.column.ib
                .b.h
                    %h3= "Posts tagged with #{@name}" 
                    %br/
                    %p
                        %hr{width:"50%"}/
                    - 20.times do |i|
                        .feed_item= "asdf#{sprintf("%.2f", 1.62*i/2)}hgkj"
                        %hr{width:"20%"}/
                    %p EOL
            
            #right.column.ib
                .b.h
                    %h3 Other followers
                    %br/
                    %ul
                        %li 
                            %a.pjax{:href => "Food"} Food
                        %li 
                            %a.pjax{:href => "Spain@MIT"} Spain@MIT
                        %li
                            %a.pjax{:href => "Parties"} Parties
                        %li
                            %a.pjax{:href => "Class of 9999"} Class of 9999

= haml(:'partials/_footer', :layout => false)