= haml(:'partials/_header', :layout => false)

-# = haml(:'partials/_nav', :layout => false)

#main-container.wrapper.clearfix.b{:role => "main"}

    %center
        #main.r8.b
            #left.column.ib
                .b.h
                    = @name
                    %p info info blah blah

            #middle.column.ib
                .b.h
                    %h3= "Posts tagged with #{@name}" 
                    %br/
                    %p
                        %hr{width:"50%"}/
                    .feed-container
                        - 20.times do |i|
                            .feed_item{style: "border:1px solid black;"}= "asdf#{3 * ( 1 + rand(8) )}"
                    %p EOL
            
            #right.column.ib
                .b.h
                    %h3 Other info
                    %br/
                    %ul
                        %li What
                        %li to
                        %li put
                        %li here?

= haml(:'partials/_footer', :layout => false)