= haml(:'partials/_header', :layout => false)

- if @user
    = haml(:'partials/_nav', :layout => false)

#main-container.wrapper.clearfix.b{:role => "main"}

    %center
        #main.r8.b.clearfix
            #left.column
                .b.h
                    .b
                        = @board.name
                        %br/

                    - if @show
                        %h3.b Board info:
                        %p= @board.bio
                        %br/
                        
                        - if @user && !@has_tag
                            %form.ib{:name => "tag_form", :action => "/#{@user.name}/tag", :method => "post"}
                                %fieldset{style: "padding:0.2em 0.8em;"}
                                    %legend{style: "font-size:11pt;"} Add this tag:
                                    -# Totally not secure:
                                    %input{:type => "hidden", :name => "pass", value: "#{session[:pass]}"}/
                                    %input{:type => "hidden", :name => "tag", value: "#{@board.name}"}/
                                    %input.btn.r4{:type => "submit", :value => "Add!", style:"margin:5px;"}/

            #middle
                .h.column
                    %h3= "#{@posts.length} posts tagged with #{@board.name}" 
                    %br/
                    - if @show
                        %p
                            %hr{width:"50%"}/
                        .feed-container= haml(:'partials/_posts_list')

                    - if @create && !@login
                        .new_board
                            %h1 No such board exists yet.
                            %form.ib{:name => "board_form", :action => "/board/new", :method => "post"}
                                %fieldset
                                    %legend You can create it:
                                    %input{:type => "hidden", :name => "pass", value: "#{session[:pass]}"}/
                                    %input{:type => "hidden", :name => "user", value: "#{session[:name]}"}/
                                    %input{:type => "hidden", :name => "board_name", value: "#{@board.name}"}/
                                    Enter a description:
                                    %textarea{name: "board_desc", cols: "30", rows: "5", style:"margin:5px;"}
                                    %input.btn.r4{:type => "submit", :value => "Create!", style:"margin:5px;"}/
                    - if @login
                        .login_form= haml(:'partials/_login_form', :layout => false)
            
            #right.column
                .b.h
                    %h3 Other info
                    %br/
                    %ul
                        %li What
                        %li to
                        %li put
                        %li here?

= haml(:'partials/_footer', :layout => false)