= haml(:'partials/_header', :layout => false)

= haml(:'partials/_nav', :layout => false)

#main-container.wrapper.clearfix.b{:role => "main"}

    %center
        #main.r8.b.clearfix
            #left.column
                .b.h
                    = haml(:'users/_info')

            #middle.column
                .b.h
                    %h3 My Feed
                    %br/
                    .create_post.ib
                        %form.ib{:name => "post_form", :action => "/#{@user[:name]}/post", :method => "post"}
                            %fieldset{style: "border:1px solid black;padding:0.5em 2em;"}
                                %legend{style: "font-size:13pt;"} Create a post:
                                %textarea{name: "post", cols: "40", rows: "3", style:"margin:5px;"}
                                %br/
                                -# Totally not secure:
                                %input{:type => "hidden", :name => "pass", value: "#{session[:pass]}"}/
                                %input.btn.r4{:type => "submit", :value => "Submit", style:"margin:5px;"}/
                    %p
                        %hr{width:"50%"}/
                    - 20.times do |i|
                        .feed_item= "asdf#{sprintf("%.2f", 1.62*i/2)}hgkj"
                        %hr{width:"20%"}/
                    %p EOL
            
            #right.column
                .b.h
                    %h3 My Tags
                    %br/
                    %form.ib{:name => "tag_form", :action => "/#{@user[:name]}/tag", :method => "post"}
                        %fieldset{style: "padding:0.2em 0.8em;"}
                            %legend{style: "font-size:11pt;"} Create a tag:
                            %input{:type => "text", :name => "tag", :size => "10", style:"margin:2px;"}/
                            %br/
                            -# Totally not secure:
                            %input{:type => "hidden", :name => "pass", value: "#{session[:pass]}"}/
                            %input.btn.r4{:type => "submit", :value => "Submit", style:"margin:5px;"}/
                    %ul
                        - if @tags.length == 0
                            %p you have no tags yet
                        - else
                            - @tags.each do |tag|
                                - %li 
                                    - %a.pjax{:href => "#{tag[:name]}"}= "#{tag[:name]}"


= haml(:'partials/_footer', :layout => false)