= haml(:'partials/_header', :layout => false)

= haml(:'partials/_nav', :layout => false)

#main-container.wrapper.clearfix.b{:role => "main"}

    %center
        #main.r8.b.clearfix
            #left.column
                .b.h
                    = haml(:'users/_info')

            #middle
                .h.column
                    %h2 Feed
                    %br/
                    .create_post.ib
                        %form.ib{:name => "post_form", :action => "/#{@user.name}/post", :method => "post"}
                            %fieldset{style: "border:1px solid black;padding:0.5em 2em;"}
                                %legend{style: "font-size:13pt;"} Create a post:
                                %input{:type => "hidden", :name => "pass", value: "#{session[:pass]}"}/
                                %input{:type => "hidden", :name => "name", value: "#{session[:name]}"}/
                                %textarea{name: "post", cols: "40", rows: "3", style:"margin:5px;"}
                                / %br/
                                - if @tags.length > 0
                                    %fieldset.ib.fl.checkboxes
                                        %legend{style: "font-size:13pt;padding:1em;"} Tag your post:
                                        %ul
                                            - i = 0
                                            - @tags.each do |tag|
                                                - i += 1
                                                %li.r4
                                                    %input{type: "checkbox", name: "tag[#{i}]", id: "tag_#{i}", value: "#{tag.name}"}= "#{tag.name}"
                                                
                                %br/
                                %input.btn.r4{:type => "submit", :value => "Submit", style:"margin:5px;"}/
                    %p
                        %hr{width:"50%"}/
                    %h6= "#{@posts.length}"
                    .feed-container= haml(:'partials/_posts_list')
            
            #right.column
                .b.h
                    %h2 Tags
                    %br/
/ -#                     %form.ib{:name => "tag_form", :action => "/#{@user.name}/tags", :method => "post"}
/ -#                         %fieldset{style: "padding:0.2em 0.8em;"}
/ -#                             %legend{style: "font-size:11pt;"} Create a tag:
/ -#                             %input{:type => "text", :name => "tag", :size => "8", style:"margin:2px;"}/
/ -#                             %br/
/ -#                             -# Totally not secure:
/ -#                             %input{:type => "hidden", :name => "name", value: "#{session[:name]}"}/
/ -#                             %input{:type => "hidden", :name => "pass", value: "#{session[:pass]}"}/
/ -#                             %input.btn.r4{:type => "submit", :value => "Submit", style:"margin:5px;"}/
                    %ul
                        - if @tags.length < 1
                            %h3{style: "color:white;"}= "You haven't added any tags yet."
                            %br/
                            %br/
                            %p{style: "margin-top: 2em;padding:0.5em;background-color: hsla(48, 98%, 75%, 0.3)"}
                                Use 
                                %a{href: "/#{@user.name}/net"} "My Net"
                                to manage your tags.
                        - else
                            - @tags.each do |tag|
                                %li.home_tags
                                    %a{:href => "../#{tag.name}"}= "#{tag.name}"


= haml(:'partials/_footer', :layout => false)