= haml(:'partials/_header', :layout => false)

- if @user
    = haml(:'partials/_nav', :layout => false)
    

#main-container.wrapper.clearfix.b{:role => "main"}
    %ul.full_net
        - @full_net.each do |net_item|

            - net_item.each do |level_1|
                - if level_1.respond_to? 'each'

                    - level_1.each do |level_2|
                        - if level_2.respond_to? 'each'

                            - level_2.each do |level_3|
                                - if level_3.respond_to? 'each'

                                    - level_3.each do |level_4|
                                    
                                        %ul
                                    
                                            - if level_4.respond_to? 'each'

                                                - level_4.each do |level_5|
                                                    - if level_5.respond_to? 'each'

                                                        - level_5.each do |level_6|
                                                            - if level_6.respond_to? 'each'

                                                                - level_6.each do |level_7|
                                                            
                                                                    %ul
                                                            
                                                                        - if level_7.respond_to? 'each'

                                                                            - level_7.each do |level_8|
                                                                                %a.l8{href: "/#{level_8}", style: "margin-left:1em;"}= level_8
                                                                                %br/
                                                                        - else
                                                                            %li
                                                                                %h4.l7{style: "font-size:10pt;"}= level_7
                                                            - else
                                                                %a.l6{href: "/#{level_6}", style: "margin-left:1em;"}= level_6
                                                                %br/
                                                    - else
                                                        %a.l5{href: "/#{level_5}", style: "margin-left:1em;"}= level_5
                                                        %br/
                                            - else
                                                %li
                                                    %h4.l4{style: "font-size:12pt;"}= level_4
                                - else
                                    %a.l3{href: "/#{level_3}", style: "margin-left:1em;"}= level_3
                                    %br/
                        - else
                            %a.l2{href: "/#{level_2}", style: "margin-left:1em;"}= level_2
                            %br/
                - else
                    %li
                        %h4.l1{style: "font-size:14pt;"}= level_1

= haml(:'partials/_footer', :layout => false)