= haml(:'partials/_header', :layout => false)

= haml(:'partials/_nav', :layout => false)

#main-container.wrapper.clearfix.b{:role => "main"}
    .posts-container{style: "padding:20px;"}
        %h2= "Posts: #{@posts.length}"
        - @posts.each do |post|
            .post
                %h2= post.text
                - if post.post_tags
                    %p= "Tagged as (#{post.post_tags.length}):"
                    %ul
                    - post.post_tags.each do |t|
                        %li= "#{t[1]}"
    
= haml(:'partials/_footer', :layout => false)